$white: #FFFF;
$black: #181818;
$grey: #42495b;
$lightgrey: #ebebec;
$blue: #0000ff;
$purple: #7e76f9;
$purplePricingBg: rgba(132, 123, 255, 0.15);
$blueDegrade: linear-gradient(to bottom, #2d24d8 50%, #6156F9 140%);;
$Dosis: 'Dosis', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Lato: 'Lato', sans-serif;
$Lobster: 'Lobster', sans-serif;